<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      h3 { color: cadetblue }
      p { color: black }
    </style>

  </head>
  <body>
      <h3>Hi, {{name}}</h3>
      <p>{{para}}</p>
  </body>
</html>